Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
email-validator==2.1.1
python-dotenv==1.0.1
SQLAlchemy==2.0.28
WTForms==3.1.2
Werkzeug==3.0.1
bleach==6.1.0
Flask-Login==0.6.3
playwright==1.42.0
pytest==8.0.2
pytest-playwright==0.4.4
Pillow==10.2.0
